.paragraph{
    display: flex;
    justify-content: space-between;
}
.paragraph span {
    color: aqua;
}
.paragraph img{
    height: 80px;
    width: 100px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
    font-family: 'Poppins';
    
}
.card-section{
    background: #161212;
    padding: 80px  0px ;
   margin-top: 80px;
}
.first-title{
    font-family: 'Poppins';
    font-weight: 500;
    color: black;
}
.description{
    font-family: 'Poppins';
}
thead{
    background:#e7e1e1;
}
tr, th, td{
    padding: 5px;
    border: 1px solid #000 !important;
}
.table{
    width: 100%;
}
.card:hover{
    background: #000;
    color: #fff;
}
/* assignment  */
/* explore css property position and z-index */ 
/* keyframe */
.positions{
    position: relative;
    padding: 40px 0px;
}
.positions::before{
    content: '';
    width: 40%;
    height: 100%;
    position:absolute;
    background: #000;
    left: 0;

}
.positions::after{
    content: '';
    width: 60%;
    height: 100%;
    position:absolute;
    background: #e55d08;
    right: 0;
    margin-top: -27px;

}
.positions h6{
    position: relative;
    z-index: 1;
    color: #fff;
}
.positions .right-content{
    position: relative;
    z-index: 2;
    color: #151414;
}
.table{
    background: url('../images/b1.jpg' );
    background-size: cover;
    position: relative;
    padding: 80px 0px;

}